body.trigger {
    --md-primary-fg-color: #F44336; /* Rojo para triggers */
    --md-accent-fg-color: #F44336;
}

body.action {
    --md-primary-fg-color: #2196F3; /* Azul para actions */
    --md-accent-fg-color: #2196F3;
}

body.constraint {
    --md-primary-fg-color: #4CAF50; /* Verde para constraints */
    --md-accent-fg-color: #4CAF50;
}